In [3]:
import sys
print(sys.executable)
!{sys.executable} -m pip install selenium

C:\Users\dltjr\anaconda3\python.exe
Collecting selenium

ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
httpcore 1.0.2 requires h11<0.15,>=0.13, but you have h11 0.16.0 which is incompatible.

  Using cached selenium-4.40.0-py3-none-any.whl.metadata (7.7 kB)
Collecting certifi>=2026.1.4 (from selenium)
  Using cached certifi-2026.1.4-py3-none-any.whl.metadata (2.5 kB)
Collecting trio<1.0,>=0.31.0 (from selenium)
  Using cached trio-0.32.0-py3-none-any.whl.metadata (8.5 kB)
Collecting trio-websocket<1.0,>=0.12.2 (from selenium)
  Using cached trio_websocket-0.12.2-py3-none-any.whl.metadata (5.1 kB)
Collecting trio-typing>=0.10.0 (from selenium)
  Using cached trio_typing-0.10.0-py3-none-any.whl.metadata (10 kB)
Collecting types-certifi>=2021.10.8.3 (from selenium)
  Using cached types_certifi-2021.10.8.3-py3-none-any.whl.metadata (1.4 kB)
Collecting types-urllib3>=1.26.25.14 (from selenium)
  Using cached types_urllib3-1.26.25.14-py3-none-any.whl.metadata (1.7 kB)
Collecting typing_extensions<5.0,>=4.15.0 (from selenium)
  Using cached typing_extensions-4.15.0-py3-none-any.whl.metadata (3.3 kB)
Collecting urllib3<3.0,>=2.6.3 (from urllib3[socks]<3.0,>=2.6.3->selenium)
  Using cached urllib3-2.6.3-py3-none-any.whl.metadata (6.9 kB)
Requirement already satisfied: websocket-client<2.0,>=1.8.0 in c:\users\dltjr\anaconda3\lib\site-packages (from selenium) (1.8.0)
Collecting attrs>=23.2.0 (from trio<1.0,>=0.31.0->selenium)
  Downloading attrs-25.4.0-py3-none-any.whl.metadata (10 kB)
Requirement already satisfied: sortedcontainers in c:\users\dltjr\anaconda3\lib\site-packages (from trio<1.0,>=0.31.0->selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\dltjr\anaconda3\lib\site-packages (from trio<1.0,>=0.31.0->selenium) (3.7)
Collecting outcome (from trio<1.0,>=0.31.0->selenium)
  Using cached outcome-1.3.0.post0-py2.py3-none-any.whl.metadata (2.6 kB)
Requirement already satisfied: sniffio>=1.3.0 in c:\users\dltjr\anaconda3\lib\site-packages (from trio<1.0,>=0.31.0->selenium) (1.3.0)
Requirement already satisfied: cffi>=1.14 in c:\users\dltjr\anaconda3\lib\site-packages (from trio<1.0,>=0.31.0->selenium) (1.16.0)
Requirement already satisfied: mypy-extensions>=0.4.2 in c:\users\dltjr\anaconda3\lib\site-packages (from trio-typing>=0.10.0->selenium) (1.0.0)
Collecting async-generator (from trio-typing>=0.10.0->selenium)
  Using cached async_generator-1.10-py3-none-any.whl.metadata (4.9 kB)
Requirement already satisfied: packaging in c:\users\dltjr\anaconda3\lib\site-packages (from trio-typing>=0.10.0->selenium) (23.2)
Requirement already satisfied: importlib-metadata in c:\users\dltjr\anaconda3\lib\site-packages (from trio-typing>=0.10.0->selenium) (7.0.1)
Collecting wsproto>=0.14 (from trio-websocket<1.0,>=0.12.2->selenium)
  Using cached wsproto-1.3.2-py3-none-any.whl.metadata (5.2 kB)
Requirement already satisfied: pysocks!=1.5.7,<2.0,>=1.5.6 in c:\users\dltjr\anaconda3\lib\site-packages (from urllib3[socks]<3.0,>=2.6.3->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\dltjr\anaconda3\lib\site-packages (from cffi>=1.14->trio<1.0,>=0.31.0->selenium) (2.21)
Collecting h11<1,>=0.16.0 (from wsproto>=0.14->trio-websocket<1.0,>=0.12.2->selenium)
  Using cached h11-0.16.0-py3-none-any.whl.metadata (8.3 kB)
Requirement already satisfied: zipp>=0.5 in c:\users\dltjr\anaconda3\lib\site-packages (from importlib-metadata->trio-typing>=0.10.0->selenium) (3.17.0)
Using cached selenium-4.40.0-py3-none-any.whl (9.6 MB)
Using cached certifi-2026.1.4-py3-none-any.whl (152 kB)
Using cached trio-0.32.0-py3-none-any.whl (512 kB)
Using cached trio_typing-0.10.0-py3-none-any.whl (42 kB)
Using cached trio_websocket-0.12.2-py3-none-any.whl (21 kB)
Using cached types_certifi-2021.10.8.3-py3-none-any.whl (2.1 kB)
Using cached types_urllib3-1.26.25.14-py3-none-any.whl (15 kB)
Using cached typing_extensions-4.15.0-py3-none-any.whl (44 kB)
Using cached urllib3-2.6.3-py3-none-any.whl (131 kB)
Downloading attrs-25.4.0-py3-none-any.whl (67 kB)
   ---------------------------------------- 0.0/67.6 kB ? eta -:--:--
   ------------------------------------ --- 61.4/67.6 kB 3.2 MB/s eta 0:00:01
   ---------------------------------------- 67.6/67.6 kB 726.3 kB/s eta 0:00:00
Using cached outcome-1.3.0.post0-py2.py3-none-any.whl (10 kB)
Using cached wsproto-1.3.2-py3-none-any.whl (24 kB)
Using cached async_generator-1.10-py3-none-any.whl (18 kB)
Using cached h11-0.16.0-py3-none-any.whl (37 kB)
Installing collected packages: types-urllib3, types-certifi, urllib3, typing_extensions, h11, certifi, attrs, async-generator, wsproto, outcome, trio, trio-websocket, trio-typing, selenium
  Attempting uninstall: urllib3
    Found existing installation: urllib3 2.2.2
    Uninstalling urllib3-2.2.2:
      Successfully uninstalled urllib3-2.2.2
  Attempting uninstall: typing_extensions
    Found existing installation: typing_extensions 4.11.0
    Uninstalling typing_extensions-4.11.0:
      Successfully uninstalled typing_extensions-4.11.0
  Attempting uninstall: h11
    Found existing installation: h11 0.14.0
    Uninstalling h11-0.14.0:
      Successfully uninstalled h11-0.14.0
  Attempting uninstall: certifi
    Found existing installation: certifi 2024.8.30
    Uninstalling certifi-2024.8.30:
      Successfully uninstalled certifi-2024.8.30
  Attempting uninstall: attrs
    Found existing installation: attrs 23.1.0
    Uninstalling attrs-23.1.0:
      Successfully uninstalled attrs-23.1.0
Successfully installed async-generator-1.10 attrs-25.4.0 certifi-2026.1.4 h11-0.16.0 outcome-1.3.0.post0 selenium-4.40.0 trio-0.32.0 trio-typing-0.10.0 trio-websocket-0.12.2 types-certifi-2021.10.8.3 types-urllib3-1.26.25.14 typing_extensions-4.15.0 urllib3-2.6.3 wsproto-1.3.2

In [9]:
import sys
!{sys.executable} -m pip install --upgrade typing_extensions

Requirement already satisfied: typing_extensions in c:\users\dltjr\anaconda3\lib\site-packages (4.15.0)

In [1]:
from selenium import webdriver

In [11]:
from selenium import webdriver
from selenium.webdriver.chrome.options import Options
from selenium.webdriver.common.by import By
import time

url = "https://portal.kfb.or.kr/minwon/announce_member.php"

options = Options()
options.page_load_strategy = "eager"   # ✅ 핵심: DOM까지만 로드되면 진행
options.add_argument("--disable-gpu")
options.add_argument("--no-sandbox")
options.add_argument("--window-size=1400,900")

# headless는 일단 끄고(문제 원인 분리)
# options.add_argument("--headless=new")

driver = webdriver.Chrome(options=options)

driver.set_page_load_timeout(30)  # ✅ get 타임아웃 짧게
driver.get(url)

print("title:", driver.title)
print("current url:", driver.current_url)
print(driver.page_source[:300])

driver.quit()

title: 회사별 공시정보 > 소비자공시 > 소비자정보 > 전국은행연합회 소비자포털
current url: https://portal.kfb.or.kr/minwon/announce_member.php
<html lang="ko"><head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>회사별 공시정보 &gt; 소비자공시 &gt; 소비자정보 &gt; 전국은행연합회 소비자포털</title>
  <meta http-equiv="Content-Type" content="text/html; charset=euc-kr">
  <meta http-equiv="X-UA-Compatible" cont

In [15]:
from io import StringIO
import pandas as pd
from bs4 import BeautifulSoup

def fix_encoding(s: str) -> str:
    if "�" not in s:
        return s
    try:
        return s.encode("latin1", errors="ignore").decode("euc-kr", errors="ignore")
    except:
        return s

html_fixed = fix_encoding(html)

tables = pd.read_html(StringIO(html_fixed))

def flatten_columns(df: pd.DataFrame) -> pd.DataFrame:
    if isinstance(df.columns, pd.MultiIndex):
        df = df.copy()
        df.columns = [
            " ".join([str(x).strip() for x in tup if str(x).strip() and str(x).strip() != "nan"])
            for tup in df.columns.to_list()
        ]
    return df

tables = [flatten_columns(t) for t in tables]

soup = BeautifulSoup(html_fixed, "html.parser")
meta = [li.get_text(" ", strip=True) for li in soup.select(".search_minwon_txt li.date")]

print("meta:", meta)
print("tables:", len(tables))
print(tables[0].head())

out_path = "kfb_minwon_standard20254_bank11.xlsx"
with pd.ExcelWriter(out_path, engine="openpyxl") as writer:
    pd.DataFrame({"meta": meta}).to_excel(writer, index=False, sheet_name="meta")
    for i, t in enumerate(tables, start=1):
        t.to_excel(writer, index=False, sheet_name=f"table_{i}")

print("saved:", out_path)

meta: [': NH', ': 2025 4 (2025.10. ~ 2025.12.)']
tables: 3
  Unnamed: 0_level_0 Unnamed: 0_level_1 Unnamed: 1_level_0 Unnamed: 1_level_1  \
0                                    NH                                    1)
1                                    NH                                    1)
2                                    NH                                    3)
3                                    NH                                    3)
4                                    NH                                   NaN

  Unnamed: 2_level_0 Unnamed: 2_level_1  \
0                                   NaN
1                                 ( )2)
2                                   NaN
3                                 ( )2)
4                                   NaN

   Unnamed: 3_level_0 Unnamed: 3_level_1  Unnamed: 4_level_0 (%)  \
0                                     21                   10.53
1                                     13                  160.00
2                                     14                  -12.50
3                                     12                  -14.29
4                                     35                    0.00

   Unnamed: 5_level_0 Unnamed: 5_level_1  ( ) Unnamed: 6_level_1  ( ) (%)  \
0                                     19                    0.06      0.0
1                                      5                    0.04    300.0
2                                     16                    0.04    -20.0
3                                     14                    0.04      0.0
4                                     35                    0.10      0.0

   ( ) Unnamed: 8_level_1 Unnamed: 9_level_0 Unnamed: 9_level_1
0                    0.06                                   NaN
1                    0.01                                   NaN
2                    0.05                                   NaN
3                    0.04                                   NaN
4                    0.10                                   ELS
saved: kfb_minwon_standard20254_bank11.xlsx

In [25]:
from selenium import webdriver
from selenium.webdriver.chrome.options import Options
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from io import StringIO
import pandas as pd
from bs4 import BeautifulSoup

POST_URL = "https://portal.kfb.or.kr/minwon/announce_member_result_test.php"

def clean_table(df: pd.DataFrame) -> pd.DataFrame:
    if isinstance(df.columns, pd.MultiIndex):
        cols = []
        for tup in df.columns:
            parts = []
            for x in tup:
                x = str(x).strip()
                if x and x.lower() != "nan" and "unnamed" not in x.lower():
                    parts.append(x)
            cols.append(" ".join(parts) if parts else "")
        df = df.copy()
        df.columns = cols
    df.columns = [c if c else f"col_{i}" for i, c in enumerate(df.columns)]
    df = df.dropna(axis=1, how="all")
    df.columns = [c.strip() for c in df.columns]
    return df

def post_via_form(payload: dict, headless=False) -> str:
    options = Options()
    options.page_load_strategy = "eager"
    options.add_argument("--disable-gpu")
    options.add_argument("--no-sandbox")
    options.add_argument("--window-size=1400,900")
    options.add_argument("--blink-settings=imagesEnabled=false")
    if headless:
        options.add_argument("--headless=new")

    driver = webdriver.Chrome(options=options)
    driver.set_page_load_timeout(60)

    try:
        driver.get("about:blank")

        # form으로 POST 전송해서 결과 페이지로 이동
        js = """
        const url = arguments[0];
        const payload = arguments[1];

        const form = document.createElement('form');
        form.method = 'POST';
        form.action = url;

        for (const [k, v] of Object.entries(payload)) {
          const input = document.createElement('input');
          input.type = 'hidden';
          input.name = k;
          input.value = v;
          form.appendChild(input);
        }

        document.body.appendChild(form);
        form.submit();
        """
        driver.execute_script(js, POST_URL, payload)

        wait = WebDriverWait(driver, 30)
        # 결과 페이지에 확실히 있는 요소 기다리기: 너가 봤던 class 기준
        wait.until(EC.presence_of_element_located((By.CSS_SELECTOR, ".search_minwon_txt")))

        return driver.page_source

    finally:
        driver.quit()

payload = {"standard": "20254", "BankCode": "11", "Gubun": "1"}
html = post_via_form(payload, headless=False)

print("has table?", "<table" in html.lower())

tables = pd.read_html(StringIO(html))
tables = [clean_table(t) for t in tables]

soup = BeautifulSoup(html, "html.parser")
meta = [li.get_text(" ", strip=True) for li in soup.select(".search_minwon_txt li.date")]

print("meta:", meta)
print("tables:", len(tables))
print(tables[0].head())

out_path = "kfb_minwon_standard20254_bank11_clean.xlsx"
with pd.ExcelWriter(out_path, engine="openpyxl") as writer:
    pd.DataFrame({"meta": meta}).to_excel(writer, index=False, sheet_name="meta")
    for i, t in enumerate(tables, start=1):
        t.to_excel(writer, index=False, sheet_name=f"table_{i}")

print("saved:", out_path)

has table? True
meta: ['해당 금융기관 : NH농협은행', '대상기간 : 2025년 4분기 (2025.10. ~ 2025.12.)']
tables: 3
    구분 구분 구분 구분.1          구분 구분.2  민원건수 금분기  민원건수 증감률(%)  민원건수 전분기  \
0  NH농협은행  자체민원1)             전체건수        21        10.53        19
1  NH농협은행  자체민원1)  (신용카드민원 제외건수)2)        13       160.00         5
2  NH농협은행  대외민원3)             전체건수        14       -12.50        16
3  NH농협은행  대외민원3)  (신용카드민원 제외건수)2)        12       -14.29        14
4  NH농협은행      합계             전체건수        35         0.00        35

   환산건수(고객 십만명당 건) 금분기  환산건수(고객 십만명당 건) 증감률(%)  환산건수(고객 십만명당 건) 전분기      비고 비고
0                 0.06                     0.0                 0.06        NaN
1                 0.04                   300.0                 0.01        NaN
2                 0.04                   -20.0                 0.05        NaN
3                 0.04                     0.0                 0.04        NaN
4                 0.10                     0.0                 0.10  ELS 민원 제외
saved: kfb_minwon_standard20254_bank11_clean.xlsx

In [40]:
from selenium.common.exceptions import TimeoutException
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.common.by import By
from selenium.webdriver.support import expected_conditions as EC
from bs4 import BeautifulSoup
import time

def get_meta_bankname(html: str):
    soup = BeautifulSoup(html, "html.parser")
    li = soup.select_one(".search_minwon_txt li.date")
    if not li:
        return None
    text = li.get_text(" ", strip=True)
    return text.split(":", 1)[-1].strip() if ":" in text else text.strip()

def post_via_form_fast(driver, payload: dict, wait_sec=1):
    driver.get("about:blank")
    js = """
    const url = arguments[0];
    const payload = arguments[1];
    const form = document.createElement('form');
    form.method = 'POST';
    form.action = url;
    for (const [k, v] of Object.entries(payload)) {
      const input = document.createElement('input');
      input.type = 'hidden';
      input.name = k;
      input.value = v;
      form.appendChild(input);
    }
    document.body.appendChild(form);
    form.submit();
    """
    driver.execute_script(js, POST_URL, payload)
    try:
        WebDriverWait(driver, wait_sec).until(
            EC.presence_of_element_located((By.CSS_SELECTOR, ".search_minwon_txt"))
        )
        return driver.page_source
    except TimeoutException:
        return None

driver = make_driver(headless=False)
valid = []  # (code, bankname)
try:
    for code in range(1, 301):
        html = post_via_form_fast(driver, {"standard":"20254","BankCode":str(code),"Gubun":"1"}, wait_sec=1)
        if html is None:
            continue
        bankname = get_meta_bankname(html)
        if bankname:
            valid.append((code, bankname))
            print("VALID:", code, bankname)
        time.sleep(0.03)
finally:
    driver.quit()

print("\n총 유효코드 개수:", len(valid))
print("은행명 목록:", sorted(set([name for _, name in valid])))

VALID: 11 NH농협은행
VALID: 20 우리은행
VALID: 23 SC제일은행
VALID: 25 신한은행
VALID: 27 한국씨티은행
VALID: 31 iM뱅크(구 대구은행)
VALID: 32 BNK부산은행
VALID: 34 광주은행
VALID: 35 제주은행
VALID: 37 전북은행
VALID: 39 BNK경남은행
VALID: 81 하나은행
VALID: 89 케이뱅크
VALID: 90 카카오뱅크
VALID: 92 토스뱅크

총 유효코드 개수: 15
은행명 목록: ['BNK경남은행', 'BNK부산은행', 'NH농협은행', 'SC제일은행', 'iM뱅크(구 대구은행)', '광주은행', '신한은행', '우리은행', '전북은행', '제주은행', '카카오뱅크', '케이뱅크', '토스뱅크', '하나은행', '한국씨티은행']

In [46]:
# 기업은행 03
# 국민은행 04

In [11]:
from selenium import webdriver
from selenium.webdriver.chrome.options import Options
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.common.exceptions import TimeoutException
from io import StringIO
import pandas as pd
from bs4 import BeautifulSoup
import time

# ===== URL =====
MEMBER_POST_URL = "https://portal.kfb.or.kr/minwon/announce_member_result_test.php"
CATEGORY_PAGE_URL = "https://portal.kfb.or.kr/minwon/announce_category.php"  # 안정 루트

CODES = {
    "KB국민은행": "04",
    "신한은행": "25",
    "우리은행": "20",
    "하나은행": "81",
    "카카오뱅크": "90",
    "토스뱅크": "92",
    "케이뱅크": "89",
}

def standards_2016q1_to_2024q4():
    out = []
    for year in range(2016, 2025):  # 2024 포함하려면 2025까지
        for q in range(1, 5):
            out.append(f"{year}{q}")
    return [s for s in out if 20161 <= int(s) <= 20244]

def make_driver(headless=False):
    options = Options()
    options.page_load_strategy = "eager"
    options.add_argument("--disable-gpu")
    options.add_argument("--no-sandbox")
    options.add_argument("--window-size=1400,900")
    options.add_argument("--blink-settings=imagesEnabled=false")
    if headless:
        options.add_argument("--headless=new")
    driver = webdriver.Chrome(options=options)
    driver.set_page_load_timeout(60)
    return driver

def post_via_form(driver, url: str, payload: dict, wait_css: str, wait_sec=10) -> str | None:
    driver.get("about:blank")
    js = """
    const url = arguments[0];
    const payload = arguments[1];
    const form = document.createElement('form');
    form.method = 'POST';
    form.action = url;
    for (const [k, v] of Object.entries(payload)) {
      const input = document.createElement('input');
      input.type = 'hidden';
      input.name = k;
      input.value = v;
      form.appendChild(input);
    }
    document.body.appendChild(form);
    form.submit();
    """
    driver.execute_script(js, url, payload)

    try:
        WebDriverWait(driver, wait_sec).until(
            EC.presence_of_element_located((By.CSS_SELECTOR, wait_css))
        )
        return driver.page_source
    except TimeoutException:
        return None

def flatten_columns(df: pd.DataFrame) -> pd.DataFrame:
    if isinstance(df.columns, pd.MultiIndex):
        df = df.copy()
        df.columns = [
            " ".join([str(x).strip() for x in col if str(x).strip() and str(x).lower() != "nan" and "unnamed" not in str(x).lower()])
            for col in df.columns
        ]
    df.columns = [str(c).strip() if str(c).strip() else f"col_{i}" for i, c in enumerate(df.columns)]
    df = df.dropna(axis=1, how="all")
    return df

def extract_all_tables_with_titles(html: str):
    """
    1) html에서 모든 table을 pd.read_html로 뽑고
    2) 각 table 앞(근처)에 있는 h6 텍스트를 title로 붙이려고 시도
       (사이트 구조상 h6가 테이블 섹션 제목인 경우가 많음)
    """
    soup = BeautifulSoup(html, "html.parser")
    tables = soup.find_all("table")

    dfs = []
    for idx, table in enumerate(tables):
        # title 추정: table 바로 위로 올라가며 가장 가까운 h6 찾기
        title = None
        prev = table
        for _ in range(30):  # 너무 멀리 안 가게 제한
            prev = prev.find_previous()
            if prev is None:
                break
            if prev.name == "h6":
                title = prev.get_text(" ", strip=True)
                break

        try:
            df = pd.read_html(StringIO(str(table)))[0]
        except ValueError:
            continue

        df = flatten_columns(df)
        dfs.append((idx, title, df))

    return dfs

# ====== CATEGORY는 "페이지 들어가서 form submit" 방식이 안정적 ======
def fetch_category_page(driver, standard: str, wait_sec=10) -> str | None:
    driver.get(CATEGORY_PAGE_URL)
    time.sleep(0.6)

    # 페이지마다 form/element id가 바뀔 수 있어서, JS로 standard set + submit
    # (네가 F12로 봤듯이 standard input이 존재)
    driver.execute_script(f"""
        const el = document.getElementById('standard');
        if (el) el.value = '{standard}';
        const f = document.forms[0];
        if (f) f.submit();
    """)

    try:
        WebDriverWait(driver, wait_sec).until(
            EC.presence_of_element_located((By.TAG_NAME, "table"))
        )
        return driver.page_source
    except TimeoutException:
        return None

# ====== MEMBER(은행별)은 기존 POST 유지 ======
def fetch_member_result(driver, standard, bank_code, gubun="1", retries=3):
    for _ in range(retries):
        payload = {"standard": standard, "BankCode": bank_code, "Gubun": gubun}
        html = post_via_form(
            driver,
            url=MEMBER_POST_URL,
            payload=payload,
            wait_css=".search_minwon_txt",
            wait_sec=12,
        )
        if html:
            return html
        time.sleep(1.0)
    return None

# ================= 실행 =================
driver = make_driver(headless=False)

try:
    standards = standards_2016q1_to_2024q4()

    out_rows = []  # 길게 합칠거라 "long dump" 형태

    for standard in standards:
        print("===", standard, "===")

        # (A) CATEGORY: 유형별 + 주요 금융상품별 포함(페이지 전체 table dump)
        cat_html = fetch_category_page(driver, standard)
        if cat_html is None:
            print("CATEGORY FAIL:", standard)
        else:
            cat_tables = extract_all_tables_with_titles(cat_html)
            for table_id, title, df in cat_tables:
                df = df.copy()
                df["standard"] = standard
                df["source"] = "category"
                df["table_id"] = table_id
                df["table_title"] = title
                out_rows.append(df)

        time.sleep(0.3)

        # (B) MEMBER: 은행별 (은행 루프)
        for bank_name, bank_code in CODES.items():
            mem_html = fetch_member_result(driver, standard, bank_code, retries=3)
            if mem_html is None:
                print("MEMBER FAIL:", standard, bank_name, bank_code)
                continue

            mem_tables = extract_all_tables_with_titles(mem_html)
            for table_id, title, df in mem_tables:
                df = df.copy()
                df["standard"] = standard
                df["source"] = "member"
                df["bank_name"] = bank_name
                df["bank_code"] = bank_code
                df["table_id"] = table_id
                df["table_title"] = title
                out_rows.append(df)

            time.sleep(0.2)

    all_df = pd.concat(out_rows, ignore_index=True)

    # 저장 (엑셀은 MultiIndex 문제 해결했으니 OK)
    csv_path = "kfb_all_tables_member_and_category_2016Q1_2024Q4.csv"
    xlsx_path = "kfb_all_tables_member_and_category_2016Q1_2024Q4.xlsx"

    all_df.to_csv(csv_path, index=False, encoding="utf-8-sig")
    all_df.to_excel(xlsx_path, index=False)

    print("✅ saved:", csv_path)
    print("✅ saved:", xlsx_path)

finally:
    driver.quit()

=== 20161 ===
MEMBER FAIL: 20161 카카오뱅크 90
MEMBER FAIL: 20161 토스뱅크 92
MEMBER FAIL: 20161 케이뱅크 89
=== 20162 ===
MEMBER FAIL: 20162 카카오뱅크 90
MEMBER FAIL: 20162 토스뱅크 92
MEMBER FAIL: 20162 케이뱅크 89
=== 20163 ===
MEMBER FAIL: 20163 카카오뱅크 90
MEMBER FAIL: 20163 토스뱅크 92
MEMBER FAIL: 20163 케이뱅크 89
=== 20164 ===
MEMBER FAIL: 20164 카카오뱅크 90
MEMBER FAIL: 20164 토스뱅크 92
MEMBER FAIL: 20164 케이뱅크 89
=== 20171 ===
MEMBER FAIL: 20171 카카오뱅크 90
MEMBER FAIL: 20171 토스뱅크 92
=== 20172 ===
MEMBER FAIL: 20172 토스뱅크 92
=== 20173 ===
MEMBER FAIL: 20173 토스뱅크 92
=== 20174 ===
MEMBER FAIL: 20174 토스뱅크 92
=== 20181 ===
MEMBER FAIL: 20181 토스뱅크 92
=== 20182 ===
MEMBER FAIL: 20182 토스뱅크 92
=== 20183 ===
MEMBER FAIL: 20183 토스뱅크 92
=== 20184 ===
MEMBER FAIL: 20184 토스뱅크 92
=== 20191 ===
MEMBER FAIL: 20191 토스뱅크 92
=== 20192 ===
MEMBER FAIL: 20192 토스뱅크 92
=== 20193 ===
MEMBER FAIL: 20193 토스뱅크 92
=== 20194 ===
MEMBER FAIL: 20194 토스뱅크 92
=== 20201 ===
MEMBER FAIL: 20201 토스뱅크 92
=== 20202 ===
MEMBER FAIL: 20202 토스뱅크 92
=== 20203 ===
MEMBER FAIL: 20203 토스뱅크 92
=== 20204 ===
MEMBER FAIL: 20204 토스뱅크 92
=== 20211 ===
MEMBER FAIL: 20211 토스뱅크 92
=== 20212 ===
MEMBER FAIL: 20212 토스뱅크 92
=== 20213 ===
MEMBER FAIL: 20213 토스뱅크 92
=== 20214 ===
=== 20221 ===
=== 20222 ===
=== 20223 ===
=== 20224 ===
=== 20231 ===
=== 20232 ===
=== 20233 ===
=== 20234 ===
=== 20241 ===
=== 20242 ===
=== 20243 ===
=== 20244 ===
✅ saved: kfb_all_tables_member_and_category_2016Q1_2024Q4.csv
✅ saved: kfb_all_tables_member_and_category_2016Q1_2024Q4.xlsx

In [27]:
df = pd.read_csv('kfb_all_tables_member_and_category_2016Q1_2024Q4.csv')
df = df[df['구분 구분.1']=='신용대출']
df['구분 구분'].unique()

array(['한국산업은행', 'NH농협은행', '신한은행', '우리은행', 'SC제일은행', '하나은행', 'IBK기업은행',
       'KB국민은행', '한국씨티은행', 'Sh수협은행', 'iM뱅크(구 대구은행)', 'BNK부산은행', '광주은행',
       '제주은행', '전북은행', 'BNK경남은행', '케이뱅크', '카카오뱅크', '토스뱅크'], dtype=object)

In [28]:
banks = [
    '신한은행',
    '우리은행',
    '하나은행',
    '케이뱅크',
    '카카오뱅크',
    '토스뱅크'
]

df_filtered = df[df['구분 구분'].isin(banks)]

In [29]:
df_filtered

,구분 구분,구분 구분.1,민원건수 금분기,민원건수 증감률(%),민원건수 전분기,환산건수(고객 십만명당 건) 금분기,환산건수(고객 십만명당 건) 증감률(%),환산건수(고객 십만명당 건) 전분기,비고 비고,standard,...,2014년,2013년,민원건수 금분기3),민원건수3) 금분기,민원건수3) 증감률(%),민원건수3) 전분기,민원건수2) 금분기,민원건수2) 증감률(%),민원건수2) 전분기,구분 구분.2
194,신한은행,신용대출,1,-,0,0.0,-,0.00,NaN,20161,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
204,우리은행,신용대출,3,50.00,2,0.01,0.00,0.01,NaN,20161,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
224,하나은행,신용대출,3,-,0,0.01,-,0.00,NaN,20161,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
334,케이뱅크,신용대출,1,0.00,1,0.01,0.00,0.01,NaN,20161,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
344,카카오뱅크,신용대출,2,0.00,2,0.01,0.00,0.01,NaN,20161,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16946,우리은행,신용대출,2,0.00,2,0.01,0.0,0.01,NaN,20244,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16965,하나은행,신용대출,3,200.00,1,0.02,-,0.00,NaN,20244,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16984,카카오뱅크,신용대출,0,-100.00,2,0.0,-100.00,0.01,NaN,20244,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17003,토스뱅크,신용대출,0,-,0,0.0,-,0.00,NaN,20244,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17022,케이뱅크,신용대출,0,-,0,0.0,-,0.00,NaN,20244,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [33]:
df = df_filtered[
    ['구분 구분', '구분 구분.1', '민원건수 금분기', 'standard']
]
df

       구분 구분 구분 구분.1 민원건수 금분기  standard
194     신한은행    신용대출        1     20161
204     우리은행    신용대출        3     20161
224     하나은행    신용대출        3     20161
334     케이뱅크    신용대출        1     20161
344    카카오뱅크    신용대출        2     20161
...      ...     ...      ...       ...
16946   우리은행    신용대출        2     20244
16965   하나은행    신용대출        3     20244
16984  카카오뱅크    신용대출        0     20244
17003   토스뱅크    신용대출        0     20244
17022   케이뱅크    신용대출        0     20244

[388 rows x 4 columns]

In [38]:
df = df[df['구분 구분'].isin(banks)].copy()

In [39]:
df['민원건수 금분기'] = pd.to_numeric(df['민원건수 금분기'], errors='coerce')

In [41]:
df

       구분 구분 구분 구분.1  민원건수 금분기  standard
194     신한은행    신용대출       1.0     20161
204     우리은행    신용대출       3.0     20161
224     하나은행    신용대출       3.0     20161
334     케이뱅크    신용대출       1.0     20161
344    카카오뱅크    신용대출       2.0     20161
...      ...     ...       ...       ...
16946   우리은행    신용대출       2.0     20244
16965   하나은행    신용대출       3.0     20244
16984  카카오뱅크    신용대출       0.0     20244
17003   토스뱅크    신용대출       0.0     20244
17022   케이뱅크    신용대출       0.0     20244

[388 rows x 4 columns]

In [42]:
banks = [
    '신한은행',
    '우리은행',
    '하나은행',
    '케이뱅크',
    '카카오뱅크',
    '토스뱅크'
]

# copy 중요
df2 = df[df['구분 구분'].isin(banks)].copy()

# 숫자 변환
df2['민원건수 금분기'] = pd.to_numeric(
    df2['민원건수 금분기'],
    errors='coerce'
)

# 연도 생성
df2['year'] = df2['standard'].astype(str).str[:4].astype(int)

# 은행×연도 합계
df_year_bank = (
    df2.groupby(['구분 구분','year'])['민원건수 금분기']
    .sum()
    .reset_index()
)

In [43]:
df_year_bank

    구분 구분  year  민원건수 금분기
0    신한은행  2016       4.0
1    신한은행  2017      44.0
2    신한은행  2018      23.0
3    신한은행  2019      25.0
4    신한은행  2020      25.0
5    신한은행  2021      25.0
6    신한은행  2022      13.0
7    신한은행  2023       7.0
8    신한은행  2024      12.0
9    우리은행  2016      12.0
10   우리은행  2017      39.0
11   우리은행  2018      33.0
12   우리은행  2019      23.0
13   우리은행  2020      25.0
14   우리은행  2021      32.0
15   우리은행  2022      29.0
16   우리은행  2023      25.0
17   우리은행  2024      24.0
18  카카오뱅크  2016       8.0
19  카카오뱅크  2017      46.0
20  카카오뱅크  2018      24.0
21  카카오뱅크  2019      20.0
22  카카오뱅크  2020      14.0
23  카카오뱅크  2021     112.0
24  카카오뱅크  2022      11.0
25  카카오뱅크  2023      11.0
26  카카오뱅크  2024      11.0
27   케이뱅크  2016       4.0
28   케이뱅크  2017       9.0
29   케이뱅크  2018       9.0
30   케이뱅크  2019       6.0
31   케이뱅크  2020       5.0
32   케이뱅크  2021       9.0
33   케이뱅크  2022       7.0
34   케이뱅크  2023       6.0
35   케이뱅크  2024       4.0
36   토스뱅크  2016       0.0
37   토스뱅크  2017       0.0
38   토스뱅크  2018       0.0
39   토스뱅크  2019       0.0
40   토스뱅크  2020       0.0
41   토스뱅크  2021       4.0
42   토스뱅크  2022       9.0
43   토스뱅크  2023       1.0
44   토스뱅크  2024       4.0
45   하나은행  2016      12.0
46   하나은행  2017      49.0
47   하나은행  2018      48.0
48   하나은행  2019      76.0
49   하나은행  2020      52.0
50   하나은행  2021      33.0
51   하나은행  2022      28.0
52   하나은행  2023      30.0
53   하나은행  2024      23.0

In [47]:
df_year_bank.to_excel('minwon.xlsx')